.cases-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #28292c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%; /* Garante que o componente não ultrapasse a largura da tela */
    box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

button {
    background-color: #d1b829;
    color: #020202;
    border: solid 1px #050505;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(168, 1, 1, 0.267);
}
button:hover {
    background-color: #f0bfa8;
    color: #020202;
    border: solid 1px #050505;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(168, 1, 1, 0.267);
}

.interaction-form {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: 100%; /* Garante que o formulário ocupe toda a largura disponível */
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 6px;
    width: 100%;
}

.feedback-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #861616;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0; /* Ajusta para começar no topo da tela */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #19181b;
    margin: auto;
    padding: 20px;
    border: 1px solid #faea5a;
    border-radius: 10px;
    width: 80%;
    max-width: 95%; /* Garante que o modal não ultrapasse a largura da tela */
    box-sizing: border-box;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 6px;
    width: 100%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .cases-details {
        padding: 10px;
        margin: 10px;
        max-width: 100%; /* Garante que o componente ocupe toda a largura da tela */
    }

    .cases-details img {
        width: 100%; /* Faz a imagem ocupar toda a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
    }

    .modal-content {
        width: 95%;
        padding: 15px;
    }

    .form-buttons {
        flex-direction: column; /* Empilha os botões verticalmente */
        gap: 10px;
    }

    button {
        width: 100%; /* Faz os botões ocuparem toda a largura disponível */
    }

    .feedback-message {
        font-size: 16px; /* Reduz o tamanho da fonte para caber melhor */
    }
}