#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
}

.content {
  flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
  display: flex;
  flex-wrap: wrap; /* Garante que os cards não ultrapassem o container */
  justify-content: center; /* Centraliza os cards horizontalmente */
  align-items: flex-start; /* Alinha os cards no topo */
  padding: 20px; /* Adiciona espaçamento ao redor do conteúdo */
  box-sizing: border-box; /* Inclui padding no cálculo do tamanho */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto; /* Garante que o footer fique no final */
}

.logo {
  height: 3.2em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

